* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* 

FONTS
font-family: 'Roboto Slab', serif;      <-- body font
font-family: 'arial', serif;            <-- headers/bold font

COLORS
#485cc7     <-- signature blue
#f1b434     <-- signature yellow
#000002     <-- black
#ffffff     <-- white
#6c79c0     <-- powdered blue

*/

/****************** START UNIVERSAL STYLING ******************/

h1, h2, h3 {
	font-family: 'arial', serif; 
}

h4, h5, h6, p {
	font-family: 'Roboto Slab', serif;
}


/*START STICKY FOOTER*/

.site {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}

.site-content {
	flex: 1;
}

/*END STICKY FOOTER*/

/* START OF NAV AND FOOTER */

header {
    display: flex;
	background-color:#f1b434; 
}

.logo-container {
    margin-left: 4%;
	background-color: white;
}

.logo {
    min-width: 120px;
	max-width: 160px;
    width: 100%;
}

nav,
footer {
    flex-grow: 2;
    font-family: 'Arial', serif;
    font-weight: bold;
}

nav ul {
    display: flex;
	list-style-type: none;
}

nav ul li {
    padding: 56px 3%;
    font-size: 1.4em;
    text-align: center;
}

nav ul li a {
	text-decoration: none;
	color: #485cc7;
}

nav ul li a:hover,
footer ul li a:hover {
	color: #f1b434;
	transition: 0.3s;
	background-color: #485cc7;
}

footer {
    background-color: #485cc7;
    color: white;
    height: 92px;
}

footer ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

footer ul li {
    padding: 10px 3%;
}

footer ul li a {
	color: white;
	text-decoration: none;
}

.socialicons {
    text-align: center;
}

.socialicons a {
    color: white;
    font-size: 2em;
	padding: 0 10px;
}

/* END OF NAV AND FOOTER */


/****************** END UNIVERSAL STYLING ******************/

/* START OF HOME PAGE CSS */

.camp-container {
    display: flex;
    flex-direction: column;
    background-color: #485cc7;
}

img.camp {
    max-height: 275px;
}

.right h1 {
    font-size: 2.50em ;
    padding: 30px 4%;
    text-align: center;
    color: #f1b434;
}

.right p {
    font-size: 1em ;
    padding: 15px 4%;
    text-align: center;
    color: #ffffff;
}

div.camp-content {
    background-color: #ffffff;
    text-align: center;
    padding: 70px 6%;
}

div.family {
    background-color: #f1b434;
    text-align: center;
    padding: 70px 8%;
}

@media (min-width: 900px) {
    .camp-container {
        flex-direction: row;
    }

    .left {
        text-align: left;
    }

}





/* START OF CONTACT PAGE CSS */




.form-loc-container {
    display: flex;
    margin: 50px auto;
    max-width: 900px;
    padding: 0 4%;
}

.form-container {
    padding: 25px;
    border: #485cc7 solid;
    border-radius: 12px;
	background-color: #e3e4f8;

}

.form-container h1 {
	font-size: 3em;
	color: #f1b434;
	text-shadow: 1px 1px 4px black;
}

.form-container p {
	font-size: 1.2em;
}

.contact-form {
    padding-top: 15px;
	font-family: 'Roboto Slab', serif;
}

.form-label {
	padding: 10px 0;
}

input {
    border: gray solid 0.8px;
    border-radius: 3px;
    font-size: 1em;
    padding: 2%;
}

button {
    background-color: #485cc7;
    padding: 10px;
    border-radius: 4px;
    color: #f1b434;
    font-family: 'Roboto Slab', serif;
	font-size: 1em;
}

button:hover {
	background-color: #f1b434;
	color: #485cc7;
	transition: 0.3s;
	cursor: pointer;
}

.placeholder {
    width: 100%;
	max-width: 450px;
}

@media (max-width: 900px) {
    .form-loc-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}


/* END OF CONTACT PAGE CSS */